.app-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.app-modal-window {
  background-color: white;
  padding: 30px 20px 20px;
  border-radius: 12px;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.app-modal-window h3 {
  margin: 0 0 15px;
  font-size: 1.3rem;
  color: #003366;
  text-align: center;
}

.app-modal-close {
  position: absolute;
  padding-left: 90px;
  width: 100px;
  top: 12px;
  right: 16px;
  font-size: 22px;
  background: none;
  border: none;
  cursor: pointer;
  color: #003366;
}

.app-modal-window select,
.app-modal-window input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}



.modal-window button:hover {
  background-color: #0055a5;
}

.app-modal-save{
  width: 100%;
  color: white;
  background-color: #003366;
  padding: 10px;
  border-radius: 6px;
}
