.login-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2500;
  }
  
  .login-modal {
    background: #d8f4f2;
    border-radius: 24px;
    padding: 30px 40px;
    max-width: 400px;
    width: 90%;
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
  }
  
  .login-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
  }
  
  .login-modal h2 {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .login-google-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    border: 1px solid #aaa;
  }
  
  .login-google-auth:hover {
    background: #f0f0f0;
  }
  
  .login-google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  .login-modal-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .login-modal-form input {
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px solid #aaa;
    font-size: 14px;
  }
  
  .login-submit-btn {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #007a76;
    color: white;
    border: none;
    cursor: pointer;
    align-self: center;
  }
  
  .login-error {
    color: red;
    font-size: 12px;
    margin-top: -8px;
  }

  .tabs {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 15px;
  }
  
  .active-tab {
    font-weight: bold;
    border-bottom: 2px solid #007a76;
    cursor: default;
  }
  
  .inactive-tab {
    color: gray;
    cursor: pointer;
  }

  .forgot-password {
    font-size: 12px;
    color: #424242; /* любой цвет, например, тёмно-зелёный */
    text-align: right;
    display: block;
    margin-top: -8px;
  }
  
  .forgot-password:hover {
    color: #00035f; /* цвет при наведении */
    text-decoration: underline;
  }
  
  
  