/* Основной контейнер сайдбара */
.sidebar {
  width: 220px;
  flex-shrink: 0;
  background-color: #003366;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: transform 0.3s ease;
  height: flex;
  position: relative;
  z-index: 1500;
}

/* Скрытое состояние */
.sidebar.collapsed {
  transform: translateX(-100%);
}

/* Логотип */
.sidebar-logo img {
  width: 120px;
  margin-bottom: 30px;
}

/* Навигация */
.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.sidebar-nav li {
  width: 100%;
  text-align: left;
  margin: 15px 0;
  cursor: pointer;
  transition: background 0.2s ease;
}

.sidebar-nav button{
  text-align: left;
}

.sidebar-nav li:hover {
  transform: scale(1.1);
}

/* Кнопки в навигации */
.sidebar-nav button {
  background: none;
  border: none;
  color: white;
  font-size: 1rem;
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.sidebar-nav button:hover {
  transform: scale(1.1);
}

/* Иконка магазина */
.sidebar-shop-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  display: block;
  margin: 0 ;
  transition: transform 0.2s ease;
}

.sidebar-shop-btn:hover {
  transform: scale(1.1);
}

/* Кнопка выхода */
.sidebar-logout-btn {
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



/* Блок с действиями (если нужно разместить кнопки внизу) */
.sidebar-actions {
  margin-top: auto;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  align-items: center;
}

/* Кнопка-бургер для мобильных */
.sidebar-toggle {
  display: none;
  position: fixed;
  font-size: 1.5rem;
  padding: 5px 0 0 15px;
  border-radius: 6px;
  z-index: 1600;
  cursor: pointer;
}

.menu-icon{
  width: 40px;
  height: 40px;
}

/* Мобильная адаптация */
@media screen and (max-width: 768px) {
  .sidebar-toggle {
    display: block;
  }

  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }
}
